.our-team-area{
    padding: $sectionPadding;
    padding-top: 0;
    .team-wrapp-contain{
        margin-top: 30px;
        .single-team-profile {
            height: 300px;
            @include bgProperty(cover,center,no-repeat);
            transition: $primarTransition;
            cursor: pointer;
            position: relative;
            z-index: 0;
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .3;
                transform: scaleY(0);
                transition: $primarTransition;
                transform-origin: top;
                left: 0;
                top: 0;
                z-index: -1;
            }
            .product-media{
                transition: $primarTransition;
                padding: 10px;
                ul{
                    transform: scale(0);
                    transition: $primarTransition;
                    opacity: 0;
                    transform-origin: center;
                    li{
                        margin-right: 10px;
                        margin-bottom: 0;
                        :last-child{
                            margin-right: 0 !important;
                        }
                    }
                }
            }
            &:hover{
                &::before{
                    transform: scale(1);
                }
                .product-media{
                    background: #fff !important;
                }
                ul{
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }
        .team-profile-name {
            margin-top: 0;
            text-align: center;
            padding: 10px 0;
            border-top: 2px solid $primaryColor;
            h3{
                font-size: 22px;
                font-weight: 600;
                color: $primaryColor;
            }
            p{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
