.section-heading{
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
    }
    p{
        margin-top: 15px;
    }
    a{
        font-size: 14px;
        font-weight: 600;
        padding-top: 6px;
        text-transform: capitalize;
    }
}